.element {
  display: grid;
  max-width: 880px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 17px;
  margin: 0 auto;
  min-height: 140px;
}
.element__content {
  box-sizing: border-box;
  max-height: 361px;
  /*max-width: 282px;*/
  width: 100%;
  height: 100%;
  position: relative;
  border: solid 1px #f30808;
}
.element__content-btn {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  left: 250px;
  top: 25px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.element__content-btn:hover {
  opacity: 0.6;
}
.element__content-trash {
  width: 20px;
  height: 20px;
}
.element__content-trash:hover {
  opacity: 0.6;
}
.element__image {
  /* max-width: 282px;*/
  display: block;
  max-height: 282px;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
}
.element__content-description {
  max-height: 79px;
  background-color: #fff;
  display: flex;
  color: black;
  margin: auto;
  border-radius: 0 0 10px 10px;
  padding: 25px 12px 30px;
}
.element__content-description-title {
  margin: auto;
  max-width: 240px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.element__content-like {
  margin: 0;
  box-sizing: border-box;
  cursor: pointer;
  background-image: url(../images/Vector.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 0;
  background-position: center;
  width: 24px;
  height: 22px;
  /*transition: opacity 0.3s ease, background 0.3s ease;*/
  opacity: 0.5;
}
.element__content-like_is-active {
  background-image: url(../images/rojo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 1;
}
.element__content-like:hover {
  opacity: 0.6;
}
@media screen and (max-width: 768px) {
  .element {
    box-sizing: border-box;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0;
    padding: 25px;
  }
  /* .element__content {
    max-width: ;
  }*/
  .element__content-btn {
    top: 20px;
    left: 310px;
  }
}

@media screen and (max-width: 520px) {
  .element {
    box-sizing: border-box;
    display: block;
    padding: 0 19px;
    margin: 0;
  }
  .element__content {
    margin: 0 auto 25px;
  }
  .element__content-btn {
    top: 20px;
    left: 380px;
  }
}

@media screen and (max-width: 468px) {
  .element__content-btn {
    top: 20px;
    left: 340px;
  }
}
@media screen and (max-width: 400px) {
  .element__content-btn {
    top: 20px;
    left: 240px;
  }
}
