.profile__content {
  max-width: 880px;
  width: 100%;
  display: flex;
  align-content: center;
  margin: 0 auto 50px;
}
.profile__image-container {
  position: relative;
  width: 150px;
  height: 150px;
  margin-right: 30px;
  cursor: pointer;
}

.profile__avatar-edit-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}
.profile__avatar-edit-button-image {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin: 0;
  padding: 0;
  display: block;
}
.profile__image:hover + .profile__avatar-edit-button,
.profile__image-container:hover .profile__avatar-edit-button {
  opacity: 1;
}

.profile__title {
  max-width: 373px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: auto auto 16px;
}

.profile__title-content {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin: 0;
}
.profile__image {
  max-width: 150px;
  max-height: 150px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin: 0 30px 0 0;
  cursor: pointer;
}

.profile__lapiz {
  max-width: 24px;
  max-height: 24px;
  background-color: black;
  margin: 15px 0 0 18px;
  border: 1px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
}
.profile__lapiz:hover {
  opacity: 0.6;
}
.profile__cruz {
  max-width: 150px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
  align-content: center;
  margin: auto 0 auto auto;
  border: 1px solid #fff;
  box-sizing: border-box;
  top: -10px;
  cursor: pointer;
  padding-top: 5px;
}
.profile__cruz:hover {
  opacity: 0.6;
}
.profile__cruz-logo {
  max-width: 22px;
  max-height: 22px;
}
@media screen and (max-width: 768px) {
  .profile {
    padding: 0 25px;
  }
  .profile__cruz {
    max-width: 75px;
    max-height: 35px;
  }
}
@media screen and (max-width: 520px) {
  .profile {
    display: flex;
  }
  .profile__image {
    margin: 0;
  }
  .profile__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile__title {
    margin-top: 30px;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
  }
  .profile__title-content {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
  }
  .profile__lapiz {
    position: relative;
    right: -110px;
    top: -75px;
  }
  .profile__cruz {
    margin: 0;
    max-width: 282px;
    max-height: 50px;
    width: 100%;
    height: 100%;
  }
  .profile__cruz-logo {
    max-width: 16px;
    max-height: 16px;
  }
}
